.home-page {
  flex-direction: column;
  padding: 1em 3em;
  margin: auto;
  max-width: 875px;
}

.cards {
  margin-top: 5%;
  gap: 2em;
}


@media (min-width: 769px) {
  .introduction h1 {
    font-size: 2.85rem;
  }

  .introduction h2 {
    font-size: 2.25rem;
  }

  .introduction p {
    font-size: larger;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home-page {
    padding: 1em 1.75em;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .introduction h1 {
    font-size: 2rem;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.about section {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}