.function-bar {
  background-color: var(--btn-detail);
  width: 100%;
  justify-content: space-evenly;
  padding: .65rem;
  border-radius: 2rem;
  overflow: hidden;
}

.function-bar label {
  font-weight: 700;
  color: var(--black);
}

input[type=date] {
  font-family: var(--font-regular);
  background-color: var(--background);
  padding: .3rem 1rem;
  border-radius: 2rem;
  border: none;
  color: var(--detail);
  fill: var(--detail);
}

/* input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
  color: var(--detail);
  fill: var(--detail);
} */

input[type="image" i] {
  color: var(--detail);
  fill: var(--detail);
}