/* btn */
.menu {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  margin: 25px;
}

@media (max-width: 768px) {
  .menu {
    display: inline-block;
  }
}

.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.menu span:before,
.menu span:after {
  position: absolute;
  content: '';
}

.menu span,
.menu span:before,
.menu span:after {
  width: 30px;
  height: 3px;
  background-color: var(--oposite);
  display: block;
}

.menu span:before {
  margin-top: -9px;
}

.menu span:after {
  margin-top: 9px;
}

/* animation */
.burger span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.burger.active span {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.burger span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.burger.active span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.burger span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.burger.active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}