@media (min-width: 769px) {
  header {
    padding: 2.5em 7%;
  }
}

header {
  position: sticky;
  top: 0;
  padding: 1em 4%;
  z-index: 9;
}

@media (max-width: 500px) {
  header {
    backdrop-filter: blur(3px);
  }

  header:after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    opacity: .7;
  }
}

.menu__wrapper {
  justify-content: space-between;
}

.basis25 {
  flex-basis: 25%;
}

.menu-nav {
  display: table;
  width: 100%;
}

.menu-bar {
  width: fit-content;
  margin: auto;
  /* padding: 1em 2em; */
  justify-content: center;
}

.menu-bar>li {
  text-transform: uppercase;
  font-weight: 900;
  width: 9em;
  white-space: nowrap;
  text-align: center;
}

nav a {
  display: block;
  transition: color .25s ease-in-out;
  padding: .5em 1em;
}

nav a:hover {
  color: var(--detail);
}

nav a.active {
  color: var(--detail);
  border-radius: 3em;
}

/* THEME BUTTON */
.theme-toggle {
  justify-content: end;
}

.theme-btn {
  padding: .5em;
}

.logo {
  height: 4.6em;
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 3.9em;
  }

  .mobile-nav {
    padding: .5em 0;
    border-bottom: 1px solid;
    width: fit-content;
    margin: auto;
    font-weight: 900;
  }

  .menu-bar {
    display: none !important;
  }
}