@media (min-width: 769px) {
  header {
    padding: 2.5rem 7%;
  }
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 4%;
  z-index: 9;
}

/* @media (max-width: 500px) { */
  header {
    backdrop-filter: blur(3px);
  }

  header:after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    opacity: .7;
  }
/* } */

.menu__wrapper {
  justify-content: space-between;
}

.basis25 {
  flex-basis: 25%;
}

.menu-nav {
  display: flex;
  width: 100%;
  position: relative;
}

.menu-bar {
  width: fit-content;
  margin: auto;
  /* padding: 1em 2em; */
  justify-content: center;
}

.menu-bar>li {
  text-transform: uppercase;
  font-weight: 900;
  width: 9rem;
  white-space: nowrap;
  text-align: center;
}

nav a {
  display: block;
  transition: color .25s ease-in-out;
  padding: .5rem 1rem;
  border-radius: 3rem;
}

nav a:hover {
  color: var(--detail);
}

nav a.active {
  color: var(--detail);
}

/* THEME BUTTON */
.theme-toggle {
  justify-content: end;
}

.theme-btn {
  padding: .5rem;
}

.logo {
  height: 4.6rem;
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 3.9rem;
  }

  .menu-nav {
    color: #000;
    border-radius: 2rem;
    padding: 0.1rem 0;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .bars-container {
    padding: 0 1rem;
    z-index: 100;
    position: relative;
    cursor: pointer;
  }

  .bar {
    background-color: var(--oposite);
    width: 2em;
    height: 0.15em;
    margin: 0.3em 0;
    transition: all .4s ease-in-out;
    border-radius: 2rem;
    transition: all .2s cubic-bezier(.1,.82,.76,.965);
  }

  .mobile-nav {
    padding: .5rem 0;
    justify-content: center;
    margin: auto;
    font-weight: 900;
  }

  .menu-bar {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--btn-detail);
    width: 80%;
    padding: 2rem 0;
    border-radius: 1.25rem;
    transition: visibility .35s ease-in-out, opacity .25s ease-in-out;
  }

  .menu-bar.active {
    visibility: visible;
    opacity: 1;
  }

  .bars-container.active .bar:nth-child(1) {
    transform: translateY(150%) rotate(45deg);
  }

  .bars-container.active .bar:nth-child(2) {
    transform: translateY(-150%) rotate(-45deg);
  }
}