footer {
  padding: 1.5em;
  justify-content: center;
  flex-direction: column;
  color: var(--color4);
  gap: .5rem;
}

.icons {
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
}

.icons>li>a {
  fill: var(--detail);
  transition: fill .3s ease-in-out;
}

.icons>li>a:hover {
  fill: var(--color);
}

@media (max-width: 768px) {
  .icons {
    justify-content: space-evenly;
    width: 100%;
    gap: 0;
  }
}

footer p {
  font-size: 1.1rem;
  font-weight: 600;
}