.page__wrapper {
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  max-width: 750px;
  min-height: 65.5vh;
  gap: 2rem;
  padding: .75rem;
}

input[type=date] {
  font-family: auto;
}

.picture {
  width: 20rem;
  min-height: 20rem;
  height: fit-content;
  object-fit: cover;
}

.content {
  min-height: 30rem;
}

.content figure {
  animation: faceIn 2s linear;
}

@keyframes faceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}