.page__wrapper {
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  max-width: 975px;
  gap: 2rem;
  padding: .75rem;
}

.picture {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform .25s ease-in-out;
}

#mrp .picture:hover {
  transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(153, 151, 147, .31);
  -moz-box-shadow: 0px 0px 5px 5px rgba(153, 151, 147, .31);
  box-shadow: 0px 0px 5px 5px rgba(153, 151, 147, .31);
}

.content {
  min-height: 30rem;
  width: 100%;
}

.content figure {
  animation: faceIn 2s linear;
  position: relative;
  width: 100%;
  min-height: inherit;
}

.apod-picture {
  min-height: 4rem;
}

@keyframes faceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}