.page__wrapper {
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  max-width: 975px;
  min-height: 65.5vh;
  gap: 2rem;
  padding: .75rem;
}

.picture {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* @media (max-width: 768px) {
  .picture {
    width: 100%;
    min-height: 100%;
  }
} */

.content {
  min-height: 30rem;
}

.content figure {
  animation: faceIn 2s linear;
}

@keyframes faceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}