#app {
  color: var(--color4);
  background-color: var(--background);
  font-family: var(--font-regular);
  transition: background .25s ease-in-out;
  min-height: inherit;
}

.app-section {
  min-height: inherit;
  max-width: 1400px;
  margin: auto;
}

#app.light::before {
  filter: invert(1);
}

#app::before {
  content: "";
  background-image: url(/grid-9e733cdb.svg);
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 7%;
  right: 7%;
  bottom: 0;
  transform: scaleY(100%);
  transform-origin: 0 0;
  pointer-events: none;
}

@media (max-width: 500px) {
  #app:before {
    background-size: 300%;
    left: -1%;
    right: -1%;
  }
}

#app:after {
  content: "";
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 700%;
  width: 700%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url(/noisy.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: .25;
  pointer-events: none;
}

@keyframes grain {

  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, -5%);
  }

  70% {
    transform: translate(5%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

@-webkit-keyframes grain {

  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, -5%);
  }

  70% {
    transform: translate(5%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

/* CURSOR */
.cursor {
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: .85;
}

.cursor div {
  position: fixed;
  z-index: -1;
  width: 50rem;
  height: 50rem;

  translate: none;
  rotate: none;
  scale: none;
  transform: translate(-50%, -50%) scale(0.3, 0.3);
  left: 734px;
  top: 430px;
}

.colorOne {
  animation: 10s colorOne linear infinite;
  background: linear-gradient(90deg, #0067c7 1.98%, #0046c7 1.99%, #0c4c90 100%);
  /* background: radial-gradient(131.66% 120.77% at 50% 97.75%,var(--blueCharcoal) 47.41%,#63e 69.27%,#fff 100%)!important; */
  opacity: .8;
  filter: blur(127px);
  border-radius: 50%;
}

.colorTwo {
  animation: colorTwo 6s linear infinite;
  /* background: linear-gradient(90deg, #3c63ff 1.98%, #3c60ff 1.99%, #0c4e90 100%); */
  background: linear-gradient(90deg, #3cffbe 1.98%, #3cffd8 1.99%, #0c9089 100%);
  /* background: radial-gradient(131.66% 120.77% at 50% 97.75%,var(--blueCharcoal) 47.41%,#63e 69.27%,#fff 100%)!important; */
  opacity: .8;
  filter: blur(127px);
  border-radius: 50%;
}