:root {
  --black: #1E1E1E;
  --grey: #CCCCCC;
  --white: rgba(255, 255, 255, 0.5);

  --detail: #F26B47;
  --btn-detail: #ffca39;

  --color: #951313;
  --color2: #f7f4fa;
  --color3: #f5ede9;

  --blueCharcoal: #010314;

  --noise: url('/img-noise-361x370.png');
  --font-regular: 'Orbitron', sans-serif;
}

.light {
  --background: #eaedf1;
  --color4: #0e0f10;
}

.dark {
  --background: #0e0f10;
  --color4: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

#root {
  max-width: 1400px;
  margin: auto;
  min-height: inherit;
}

.hidden {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
}
