:root {
  --black: #1e1e1e;
  --grey: #ccc;
  --white: rgba(255, 255, 255, 0.5);

  --detail: #f26b47;
  --btn-detail: #ffca39;
  --blue: #3DA4C2;

  --color: #951313;
  --color2: #f7f4fa;
  --color3: #f5ede9;

  --blueCharcoal: #010314;

  --noise: url('/img-noise-361x370.png');
  --font-regular: 'Orbitron', sans-serif;
}

.light {
  --background: #eaedf1;
  --color4: #0e0f10;
  --oposite: #1e1e1e;
}

.dark {
  --background: #0e0f10;
  --color4: #fff;
  --oposite: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

u {
  text-decoration-color: var(--detail);
}

body {
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.flex-center {
  display: flex;
  align-items: center;
}

#root {
  min-height: inherit;
}

.social-link {
  font-weight: 700;
  color: var(--blue);
  transition: color .25s ease-in-out;
}

.social-link:hover {
  color: #5066ae;
}